@media (min-width: 992px) and (max-width: 1199px) {


  // .feature tab slider
  .feature-tab-slider {
    .owl-nav {
      .owl-next {
        right: 0;
      }

      .owl-prev {
        left: 0;
      }
    }
  }

  .header .navbar-container .navbar-light .main-menu>li {
    padding: 0 14px;
  }

  .header .navbar-container .navbar-light .main-menu>li {
    font-size: 13px;
  }

  .header .navbar-container .navbar-light .header-book-btn {
    padding-left: 3px;
  }

  .header-transparent .header-nav-right-info li {
    color: #fff;
    margin-right: 20px;
  }
}

@media(max-width: 1024px) {


  .footer-widget {
    margin-bottom: 25px;
  }

  .latest-blog {
    .post {
      margin-bottom: 80px;
    }

    .col-lg-4:last-child {
      .post {
        margin-bottom: 0px;
      }
    }
  }

  // product slider
  .ts-product-single-item{
    padding: 40px 20px;
  }
  .header .navbar-container .navbar-light .main-menu li a{
    white-space: pre-wrap;
  }

  .admin-bar{
    .header-standard{
      top: 60px;
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {



  // header logo
  .header-transparent .logo-area {
    margin-right: 30px;
  }

  .header-transparent {
    a.navbar-brand.d-none {
      display: block !important;
    }

    .header-nav-right-info {
      display: none;
    }

    .nav-logo {
      display: none;
    }
  }

  // header nav
  .header {
    .navbar-collapse {
      background: #101010;
      position: relative;
    }

    .navbar-container {
      .navbar-light {
        .main-menu {
          >li {
            >a {
              line-height: 50px;
              color: #fff;

              &:before {
                display: none;
              }
            }
          }
        }

        ul.navbar-nav {
          li {
            .dropdown-menu {
              min-width: auto;
              background: transparent;
              -webkit-box-shadow: none;
              box-shadow: none;
              margin: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-right: 0;

              li {
                a {
                  color: #fff;
                  border: none;
                }

                &.dropdown:after {
                  right: -10px;
                  top: 0;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

    &.header-standard,
    &.header-classic {
      .navbar-collapse {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 11;
        top: 100%;
        padding: 0 10px;
      }
    }

    &.header-transparent {
      .navbar-toggler {
        margin-left: auto;
        margin-top: 30px;
      }

    }
  }

  //  feature tab menu
  .ts-tab-menu {
    .nav-menu-tabs {
      li a i.icon {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  // .banner-area
  .banner-area {
    padding: 90px 0;

    .banner-title {
      font-size: 60px;
      line-height: 70px;

    }

    .breadcrumb {
      margin-top: 0;
    }
  }

  .banner-area.banner-solid .banner-title {
    line-height: 60px;
 
  }

  // hidden-mobile
  .hidden-mobile {
    display: none;
  }

  // team
  .ts-team,
  .ts-team-standard {
    .ts-team-info {
      .team-content {
        padding: 30px 20px;
      }
    }
  }

  .ts-team-classic {
    .ts-team-info {
      .team-content {
        padding: 100px 20px 30px 20px;
      }
    }
  }

  // .feature tab slider
  .feature-tab-slider {
    .owl-nav {
      .owl-next {
        right: 0;
      }

      .owl-prev {
        left: 0;
      }
    }
  }

  // footer subscribe
  .ts-footer {
    .ts-subscribe {
      padding-left: 0;
    }
  }

  .ts-footer .footer-center-widget p {
    padding-top: 0;
    padding-right: 0;
  }

}

@media (max-width: 767px) {

 

  // header top
  .top-contact-info {
    text-align: center;

    li {
      margin-right: 0;
      display: block;
    }
  }

  .top-logo {
    margin: 15px 0;
  }

  .topbar-btn.text-right {
    text-align: center !important;
  }

  // header social
  .social-links {
    text-align: center !important;
  }

  // header right info
  .header-nav-right-info {
    display: none;
  }

  // header logo
  .header-transparent .logo-area {
    float: none;
    margin: auto;
    text-align: center;
  }


  .header-transparent {
    a.navbar-brand.d-none {
      display: block !important;
    }

    .header-nav-right-info.float-right {
      display: none;
    }

    .nav-logo {
      display: none;
    }
  }

  // header nav
  .header {
    .navbar-collapse {
      background: #101010;
      position: relative;
    }

    .navbar-container {
      .navbar-light {
        .main-menu {
          >li {
            >a {
              line-height: 50px;
              color: #fff;

              &:before {
                display: none;
              }
            }
          }
        }

        ul.navbar-nav {
          li {
            .dropdown-menu {
              min-width: auto;
              background: transparent;
              -webkit-box-shadow: none;
              box-shadow: none;
              margin: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-right: 0;

              li {
                a {
                  color: #fff;
                  border: none;
                }

                &.dropdown:after {
                  color: #fff;
                  right: -10px;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }


    &.header-standard,
    &.header-classic {
      .navbar-collapse {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 11;
        top: 100%;
      }
    }
  }

  // .banner-area
  .banner-area {
    padding: 100px 0;

    .banner-title {
      font-size: 40px;
      line-height: 50px;

      &.mt-80 {
        margin-top: 120px;
      }
    }

    .breadcrumb {
      margin-top: 0;
    }
  }

  .banner-area.banner-solid .banner-title {
    line-height: 60px;
 
  }

  // hero slider
  .slider-item .slider-content .slider-info .info-before-bar,
  .slider-item .slider-content .slider-info .info-after-bar {
    display: none;
  }

  // ts tab menu
  .ts-tab-menu {
    .nav-menu-tabs {
      li {
        display: inline-block;
        margin-bottom: 42px;

        a i.icon {
          padding: 0px 10px;
        }
      }
    }
  }

  // .feature tab slider

  .feature-tab-slider {
    .owl-nav {
      .owl-next {
        right: 0;
      }

      .owl-prev {
        left: 0;
      }
    }
  }

  // product slider
  .ts-product-item.style2 .ts-product-single-item .product-img {
    margin: 0px 0 30px;
  }



  .ts-product-item.style2 .ts-product-single-item .bg-shape-img .product-shape-img {
    transform: translate(0%, -10%) scale(1.2);
  }

  .bg-shape-img svg path {
    transform: translate(-10%, -20%) scale(1.2);
  }



  // hidden-mobile
  .hidden-mobile {
    display: none;
  }

  // reservation table
  .elementor-widget-container {
    .ot-dtp-picker {
      .ot-dtp-picker-form {
        display: block;
        border: none;
        height: auto !important;

        .ot-dtp-picker-button,
        .ot-dtp-picker-selector {
          width: 100% !important;
          float: none !important;
        }
      }
    }
  }

  .ot-dtp-picker.wide .ot-dtp-picker-form .ot-dtp-picker-selector+.ot-dtp-picker-selector,
  .ot-dtp-picker.wide .ot-dtp-picker-form .ot-dtp-picker-selector {
    border: 1px solid #d8d9db !important;
    margin-bottom: 15px;
  }

  // footer subscribe
  .ts-footer {
    .ts-subscribe {
      padding-left: 0;
    }
  }

  // copyright
  .copyright {
    .copyright-text {
      text-align: center;
      margin-bottom: 20px;
    }

    .footer-social {
      text-align: center;
    }
  }

  // testimonial
  .testimonial-carousel.owl-carousel.style4 .owl-dots {
    position: absolute;
    left: 50.0%;
    bottom: 0%;
    right: 0;
    left: 0;
}
.sidebar.sidebar-right.sidebar-woo{
  margin-top: 50px;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  flex: 100%;
  max-width: 100%;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
  flex: 100%;
  max-width: 100%;
}
.post .entry-header .entry-title{
  font-size: 26px;
  line-height: 33px;
}




}