// body var
$barlow: 'Barlow', cursive;
$roboto: 'Roboto', sans-serif;

// default color set

$primary-color: #e7272d;
$secondary-color: #fbbe36;


$color-gray: #ededed;

$color-black: #191919;
$white-color: #FFFFFF;
$gray-light: #666666;
$title-color: #222222;

// social color
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-dribbble: #ea4c89;
$color-pinterest: #bd081c;
$color-instagram: #e1306c;
$color-google-plus: #D8443D;
$color-linkedin: #dd5143;


